/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 24px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-item {
  flex-basis: calc(33% - 24px);
  margin-bottom: 0px;
  box-sizing: border-box;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 4px;
}

.gallery-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Form */

.feedback-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-label {
  display: block;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-left: 8px;
}

.email-input,
.email-input:active {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
}

.email-input:hover {
  border: 1px solid #000;
}

.message {
  margin-top: 8px;
}

.login-button {
  margin-left: 8px;
  display: flex;
  justify-content: start;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 8px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #6c8cff;
}